.navigation {
   &__toggle {
      display: none;
   }

   &__button {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background-color: $color-white;
      position: fixed;
      right: 10rem;
      top: 10rem;
      z-index: 100;
      text-align: center;
      // position: relative;
      cursor: pointer;
      box-shadow: $box-shadow;
   }

   &__background {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background: radial-gradient($color-brown-light, $color-brown-darck);
      position: fixed;
      right: 10.5rem;
      top: 10.5rem;
      z-index: 50;
      transition: 0.3s all ease;
   }

   &__nav {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 75;
      display: none;
      transition: 0.3s all ease;
   }

   &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
   }

   &__items {
      text-align: center;
      margin-bottom: 5rem;
   }

   &__link {
      &:link,
      &:visited {
         display: inline-block;
         font-size: 4rem;
         color: $color-white;
         padding: 1rem 2rem;
         letter-spacing: 0.5rem;
         text-decoration: none;
         text-transform: uppercase;
         background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
         background-size: 220%;
         transition: all 0.3s;
      }
      &:hover,
      &:active {
         background-position: 100%;
         color: $color-brown-light;
         transform: translateX(1rem);
      }
   }
   &__toggle:checked ~ &__background {
      transform: scale(150);
      // transition: 0.3s all ease;

   }
   &__icon {
      position: relative;
      margin-top: 3.5rem;
      &,
      &::before,
      &::after {
         width: 2.5rem;
         height: 0.2rem;
         background: $color-black;
         display: inline-block;
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         left: 0;
      }
      &::before {
         top: -0.8rem;
      }
      &::after {
         top: 0.8rem;
      }
   }
   &__toggle:checked ~ &__nav {
      display: block;
   }
   &__button:hover &__icon::before {
      top: -1rem;
   }
   &__button:hover &__icon::after {
      top: 1rem;
   }
   &__toggle:checked + &__button &__icon {
      background: transparent;
   }
   &__toggle:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
   }
   &__toggle:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
   }
}
