.title-first {
   color: $color-white;
   text-transform: uppercase;
   margin: 0 0 6.5rem 0;
   &__main {
      display: block;
      font-weight: 800;
      font-size: 5rem;
      letter-spacing: 1rem;
      margin: 0 0 1rem 0;
      animation-name: leftToRight;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-timing-function: ease;
      backface-visibility: hidden; //-фиксит анимацию
   }
   &__secondary {
      display: block;
      font-size: 4rem;
      font-weight: 200;
      letter-spacing: 0.5rem;
      animation-name: RightToleft;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-timing-function: ease;
      backface-visibility: hidden; //-фиксит анимацию
   }
}
.title-secondary{
   // text-align: center;
   display: inline-block;
   font-size: $font-size-h2;
   letter-spacing: 1rem;
   text-transform: uppercase;
   font-weight: 800;
   background:
   linear-gradient(90deg, rgba($color-brown-light, 0.7), rgba($color-brown-darck, 0.7)),
   99.94%;
   -webkit-background-clip: text;
   color: transparent;
   transition: all .4s ;

   &:hover{
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: $shadaw-h2;
      backface-visibility: hidden; //-фиксит анимацию
   }
}
.title-third{
   font-size: $font-size-h3;
   letter-spacing: .2rem;
   text-transform: uppercase;
   font-weight: 700;
}
.paragraph{
   font-size: $font-size-paragraph;
   letter-spacing: .2rem;
   line-height: 140%;
   font-weight: 400;

}