.card-turs {
   height: 50rem;
   perspective: 150rem;
   -moz-perspective: 150rem;
   position: relative;
   @include respond(tab-port) {
      height: auto;
   }

   &__side {
      height: 52rem;
      transition: 0.7s all ease-out;
      color: $color-white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      box-shadow: $box-shadow;
      border-radius: 0.3rem;
      overflow: hidden;
      @include respond(tab-port) {
         height: auto;
         position: relative;
      }

      &_front {
         background: $color-white;
         @include respond(tab-port) {
            padding-bottom: 15rem;
         }
      }
      &_back {
         // background: rgb(88, 176, 66);
         transform: rotateY(180deg);
         background: linear-gradient(120deg, $color-brown-light, $color-brown-darck);
         @include respond(tab-port) {
            transform: rotateY(0deg);
            padding: 5rem;
            padding-top: 12rem;
            margin-top: -11rem;
            clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
         }
      }
   }
   &:hover &__side_front {
      transform: rotateY(-180deg);
      @include respond(tab-port) {
         transform: rotateY(0deg);
      }
   }
   &:hover &__side_back {
      transform: rotateY(0deg);
   }

   &__img {
      height: 20rem;
      // background-image: url(../../img/section-tour-img-1.jpeg);
      background-position: 0 -17rem;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-blend-mode: hard-light;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      &_img-bg1 {
         background-image: url(../img/section-tour-img-1.jpeg);
      }
      &_img-bg2 {
         background-image: url(../img/section-tour-img-2.jpeg);
      }
      &_img-bg3 {
         background-image: url(../img/section-tour-img-3.jpeg);
      }
      @include respond(tab-port) {
         height: 30rem;
      }
   }
   &__title {
      font-size: 2.8rem;
      letter-spacing: 0.2rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      position: absolute;
      top: 17rem;
      right: 0rem;
      @include respond(tab-port) {
         top: 25rem;
      }
   }
   &__span {
      background: linear-gradient(90deg, $color-brown-light, $color-brown-darck);
      padding: 1rem 6rem 0.3rem 2rem;
      &_1 {
      }
      &_2 {
         position: absolute;
         top: 3.4rem;
         right: 0rem;
         padding: 1rem 2rem 2rem 2rem;
      }
   }
   &__description {
      ul {
         list-style: none;
         margin: 0 auto;
         width: 80%;

         li {
            font-size: $font-size-paragraph;
            letter-spacing: 0.2rem;
            color: $color-gray;
            border-bottom: 0.1rem solid $color-gray;
            text-align: center;
            &:not(:last-child) {
               margin-bottom: 2rem;
            }
            @include respond(tab-port) {
               font-size: 2rem;
            }
         }
      }
   }
   &__backSide-box {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include respond(tab-port) {
         position: relative;
         top: 0;
         left: 0;
         transform: translate(0, 0);
      }
   }
   &__text {
      margin-bottom: 8rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: $color-white;
      &__title {
         font-size: $font-size-paragraph;
         font-weight: 300;
      }
      &_prise {
         font-size: 6rem;
         font-weight: 500;
      }
   }
}
